
NASA\.vs
NASA\NASA\NASA\bin
NASA\NASA\NASA\obj
*.cache
NASA/NASA/obj/x86/Debug/App.g.cs
NASA/NASA/obj/x86/Debug/App.g.i.cs
NASA/NASA/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NASA/NASA/obj/x86/Debug/Details.g.cs
NASA/NASA/obj/x86/Debug/Details.g.i.cs
NASA/.vs/NASA/v16/.suo
