
NASA\.vs
NASA\NASA\NASA\bin
NASA\NASA\NASA\obj
*.cache
NASA/NASA/obj/x86/Debug/App.g.cs
NASA/NASA/obj/x86/Debug/App.g.i.cs
NASA/NASA/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NASA/NASA/obj/x86/Debug/Details.g.cs
NASA/NASA/obj/x86/Debug/Details.g.i.cs
NASA/.vs/NASA/v16/.suo
NASA/NASA/obj/x86/Debug/XamlSaveStateFile.xml
NASA/NASA/obj/x86/Debug/NASA.csprojAssemblyReference.cache
NASA/.vs/NASA/v16/.suo
NASA/.vs/NASA/v16/.suo
NASA/NASA/obj/NASA.csproj.nuget.dgspec.json
NASA/NASA/obj/NASA.csproj.nuget.g.props
NASA/NASA/obj/project.assets.json
NASA/NASA/obj/project.nuget.cache
NASA/NASA/obj/x86/Debug/About.g.cs
NASA/NASA/obj/x86/Debug/About.g.cs.backup
NASA/NASA/obj/x86/Debug/About.g.i.cs
NASA/NASA/obj/x86/Debug/App.g.cs
NASA/NASA/obj/x86/Debug/App.g.cs.backup
NASA/NASA/obj/x86/Debug/App.g.i.cs
NASA/NASA/obj/x86/Debug/App.xaml
NASA/NASA/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NASA/NASA/obj/x86/Debug/Details.g.cs.backup
NASA/NASA/obj/x86/Debug/Details.g.i.cs
NASA/NASA/obj/x86/Debug/MainPage.g.cs
NASA/NASA/obj/x86/Debug/MainPage.g.cs.backup
NASA/NASA/obj/x86/Debug/MainPage.g.i.cs
NASA/NASA/obj/x86/Debug/NASA.csproj.FileListAbsolute.txt
NASA/NASA/obj/x86/Debug/NASA.csprojAssemblyReference.cache
NASA/NASA/obj/x86/Debug/XamlSaveStateFile.xml
NASA/NASA/obj/x86/Debug/XamlTypeInfo.g.cs
NASA/NASA/obj/x86/Debug/XamlTypeInfo.g.cs.backup
